@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  background: #f9f9f9;
  border-radius: 0.2rem;
}

input:focus-visible {
  outline: 1px solid #fc5573;
}

.btn {
  height: max-content;
  width: max-content;
  padding: 8px 25px;

  background: #ff748d;
  color: white;
  border-radius: 0.35rem;
}

.btn:hover {
  background: #ff6b86;
}

.btn:focus {
  outline: none;
}

.btnWhite {
  height: max-content;
  width: max-content;
  padding: 8px 30px;

  background: #ffffff;
  border: 1px solid #ff748d;
  border-radius: 0.7rem;
}

.btnWhite:hover {
  background: #e9e9e9;
}

.btnWhite:focus {
  outline: none;
}